body {
  font-family: "Montserrat", serif;
  line-height: 1.6;
  color: #e0e0e0;
  background-color: #1a1a1a;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 42rem;
  margin: 0 auto;
  padding: 3rem 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  background-color: #4caf50;
  color: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem; 
  margin-bottom: 3rem;
}

.logo {
  font-size: 1rem;
}

.accent {
  color: #999;
}

nav {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 24px; /* Set a consistent height for the nav */
}

nav a {
  display: inline-flex;
  align-items: center;
  height: 100%;
  line-height: 24px;
  vertical-align: middle;
}

nav a svg {
  vertical-align: middle;
}

nav a:hover svg {
  stroke: #ffffff;
}

.green-text {
  color: #4caf50;
}

.green-link {
  color: #4caf50;
  font-weight: 500;
}

.collapsible {
  margin-bottom: 1.5rem;
}

.section-title {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
}

.caret {
  display: flex;
  align-items: center;
}

.caret svg {
  transition: transform 0.3s ease;
}

.section-title.open .caret svg {
  transform: rotate(180deg);
}

.section-content {
  display: block;
  margin-top: 1rem;
  font-size: 0.875rem;
}

.section-content.closed {
  display: none;
}

.divider {
  height: 1px; 
  background-color: #333; 
  margin: 20px 0; 
  border: none; 
}

strong, b {
  font-weight: 500;
  color: #ffffff;
}

@media (max-width: 600px) {
  .container {
    padding: 1rem;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  nav {
    width: 100%;
    justify-content: space-between;
  }
}

